@import '../../../core';

.room {
    &-section {
        background-color: #f5f5f5;
        padding-top: 5rem;
        padding-bottom: 5rem;

        @include minw($lg-tab) {
            padding-top: 10rem;
            padding-bottom: 10rem;
        }
    }

    &__wrap {
        @include minw($lg-tab) {
            display: grid;
            justify-content: center;
            grid-template-columns: 68% 28rem;
            gap: 3rem;
        }
    }

    &__info {
        position: relative;

        &__price {
            display: flex;
            position: absolute;
            top: 3rem;
            left: 1rem;
            z-index: 4;
            min-width: 20rem;
            padding: 1rem 3rem;
            background-color: #760023b3;

            span {
                font-size: 1.8rem;
                font-weight: 900;
                color: var(--white);

                @include minw($sm-tab) {
                    font-size: 2.4rem;
                }
            }
        }
    }

    &__slider {
        .swiper {

            .swiper-button-next,
            .swiper-button-prev {
                width: 5rem;
                height: 5rem;
                background: var(--white);
                top: unset;
                bottom: 0;
                left: 50%;
                transform: translateX(calc(-50% + 2.55rem));

                &::after {
                    width: 0.1rem;
                    height: 1.5rem;
                    background: var(--bg);
                    position: absolute;
                    top: 50%;
                    transform: translate(-50%, -25%) rotate(45deg);
                    left: 50%;
                }

                &::before {
                    content: '';
                    width: 0.1rem;
                    height: 1.5rem;
                    background: var(--bg);
                    position: absolute;
                    top: 50%;
                    transform: translateY(-95%) rotate(-45deg);
                }
            }

            .swiper-button-prev {
                transform: translateX(calc(-50% - 2.55rem));

                &::after {
                    top: 50%;
                    transform: translate(-50%, -25%) rotate(-45deg);
                    left: 50%;
                }

                &::before {
                    content: '';
                    top: 50%;
                    transform: translateY(-95%) rotate(45deg);
                }
            }
        }

        .mySwiper2 {
            border: 1rem solid #fff;

            .swiper-slide {
                height: 25rem;


                @include minw($sm-tab) {
                    height: 52rem;
                }

                picture,
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }

        .mySwiperP {
            display: none;
            margin-top: 4rem;

            .swiper-slide {
                .room-thmb {
                    border: 1rem solid #fff;
                    height: 25rem;

                    @include minw($lg-tab) {
                        height: 15rem;
                    }

                    picture,
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
            }

            @include minw($sm-tab) {
                display: inherit;
            }
        }
    }

    &__desc {
        margin-top: 4rem;
        text-align: justify;

        h5 {
            color: var(--bg);
            font-size: 1.2rem;
            font-weight: 900;
            letter-spacing: 0.2rem;
            text-transform: uppercase;
            margin-bottom: 1rem;
        }

        p {
            color: var(--dark-4);
            font-size: 1.4rem;
        }
    }

    &__sidebar {
        margin-top: 4rem;

        @include minw($lg-tab) {
            margin-top: 0;
        }

        &__form {
            padding: 2rem;
            background: var(--white);
            -webkit-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.1);
            box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.1);

            &__info {
                margin-bottom: 3rem;

                h4 {
                    font-size: 1.2rem;
                    font-weight: 900;
                    letter-spacing: 0.2rem;
                    text-transform: uppercase;
                    color: var(--bg);
                    margin-bottom: 1rem;
                }

                span {
                    font-size: 2.8rem;
                    color: var(--dark-4);
                }
            }

            .form {
                &__item {
                    input {
                        border-bottom: 1px solid var(--dark-4);
                        color: var(--dark-4);
                    }
                }

                &__submit {
                    margin-top: 3rem;

                    .btn {
                        span {
                            padding: 0.5rem;
                            font-size: 1.6rem;
                            letter-spacing: 0.1rem;
                        }
                    }
                }
            }
        }

        &__features {
            margin-top: 4rem;
            padding: 2rem;
            background: var(--white);
            -webkit-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.1);
            box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.1);

            &__sub {
                color: var(--bg);
                font-size: 1.6rem;
                margin-bottom: 1rem;
                display: block;
            }

            &__info {
                margin-bottom: 3rem;

                h4 {
                    font-size: 1.2rem;
                    font-weight: 900;
                    letter-spacing: 0.2rem;
                    text-transform: uppercase;
                    color: var(--bg);
                    margin-bottom: 1rem;
                }

                span {
                    font-size: 2.8rem;
                    color: var(--dark-4);
                }
            }

            &__list {
                margin-bottom: 3rem;

                ul {
                    color: var(--dark-4);

                    li {
                        line-height: 4rem;
                        text-overflow: ellipsis;
                        overflow: hidden;
                        white-space: nowrap;
                        text-transform: uppercase;
                        position: relative;
                        width: 100%;
                        height: 4rem;
                        border-bottom: 0.1rem solid #e1e1e1;
                        font-weight: 700;
                        font-size: 10px;
                        letter-spacing: 0.1rem;
                        text-align: left;
                        display: flex;
                        align-items: center;
                        gap: 2rem;

                        &:last-of-type {
                            border-bottom: 0;
                        }

                        .check {
                            width: 2.3rem;
                            border: solid 0.1rem var(--bg);
                            border-radius: 50%;
                            padding: 0.5rem;

                            svg {
                                height: auto;

                                g {
                                    path {
                                        fill: var(--bg);
                                    }
                                }
                            }
                        }
                    }
                }
            }

            &__short {
                ul {
                    color: var(--dark-4);
                    font-size: 1.6rem;
                }
            }
        }
    }
}