@import '../../core.scss';

.header {
    &-section {
        background: var(--dark-1);
    }

    // transition: $hover-trans;

    &__logo {

        // display: flex;
        @include minw($lg-tab) {}

        img {
            max-width: 70%;

            @include minw($lg-tab) {
                max-width: 100%;
            }

            @include minw($xl) {
                width: 100%;
                max-width: 100%;
            }
        }
    }

    .navbar {
        a {
            color: white;
            font-size: 2rem;
            font-family: $sentient-bold;
        }
    }
}