@import '../../core.scss';

.header {
    &__top {
        background: var(--dark-1);
        display: flex;
        align-items: center;
        gap: 1rem;
        min-height: 5rem;

        @include minw($lg-tab) {
            gap: 6.1rem;
        }

        .navbar {
            .menu-list {
                ul {
                    display: flex;
                    gap: 1.4rem;

                    @include minw($lg-tab) {
                        gap: 3.4rem;
                    }

                    a {
                        color: var(--text-nav);
                        font-family: $roboto-regular;
                        font-weight: 500;
                        font-size: 1.1rem;
                        line-height: 4.6rem;
                        letter-spacing: 0.7px;
                        text-transform: uppercase;
                        transition: $hover-trans;

                        &:hover {
                            color: var(--light-1);
                        }
                    }
                }
            }
        }
    }

    &__toggler {
        display: flex;
        align-items: center;

        span {
            display: none;

            @include minw($mob) {
                display: block;
                color: var(--text-nav);
                font-family: $roboto-regular;
                font-weight: 500;
                font-size: 1.1rem;
                line-height: 4.6rem;
                letter-spacing: 0.7px;
                text-transform: uppercase;
                margin-left: 0.8rem;
            }
        }
    }

    &__bott {
        background: rgba(247, 247, 249, 0.9);
        backdrop-filter: blur(20px);
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 3.2rem;
        min-height: 7rem;

        &__logo {
            flex-grow: 1;
            margin-bottom: 1.4rem;
        }

        &__navbar {
            display: none;

            @include minw($lg-tab) {
                display: block;
            }

            &__list {
                display: flex;
                gap: 2.5rem;

                li {
                    a {
                        color: var(--text-primary);
                        font-family: $roboto-regular;
                        font-size: 1.3rem;
                        font-weight: 400;
                        line-height: 4.6rem;
                        letter-spacing: 0.5px;
                        text-transform: uppercase;
                        transition: $hover-trans;

                        &:hover {
                            color: var(--blue);
                        }
                    }

                    &:last-of-type {
                        a {
                            color: var(--blue);
                        }
                    }
                }
            }
        }
    }
}