@import '../../../core';

.front-head {
    &-section {
        background-color: #00daab;
        position: relative;
        padding: 9rem 0;

        @include minw($lg-tab) {
            padding-top: 8.1rem;
            padding-bottom: 8.1rem;
        }

        @include minw($pc) {
            padding-bottom: 18.7rem;
        }

        @include minw($lg-xl) {
            padding-top: 14.1rem;
        }

        @include minw($xl) {
            padding-top: 24.1rem;
        }

        .container {
            @include minw($lg-tab) {
                // position: absolute;
                // top: 8rem;

                position: relative;
                z-index: 5;
            }
        }
    }

    &__bg {
        @include minw($lg-tab) {
            position: absolute;
            top: 0;
            height: 100%;
            width: 100%;
        }

        img {
            @include minw($lg-tab) {
                width: 100%;
                object-fit: cover;
                height: 100%;
            }
        }
    }

    &__info {
        max-width: 62.5rem;

        h1 {
            font-family: $segoe-bold;
            font-weight: 900;
            font-size: 4.6rem;
            line-height: 102.01%;
            letter-spacing: 0.02em;
            text-transform: uppercase;
            color: #A611B3;
            margin-bottom: 3.1rem;

            @include minw($lg-tab) {
                font-size: 7rem;
                margin-bottom: 3.1rem;
            }

            @include minw($pc) {
                font-size: 10rem;
                margin-bottom: 5.1rem;
            }
        }

        p {
            font-weight: 600;
            font-size: 1.7rem;
            line-height: 120%;
            color: var(--white);

            @include minw($lg-tab) {
                font-size: 2.8rem;
            }

            @include minw($pc) {
                font-size: 3.2rem;
            }
        }
    }
}