@import '../../core.scss';

.btn {
    &--accent-1 {
        .btn {
            &__prime {
                background-color: transparent;
                transition: $hover-trans;

                &:hover {
                    color: var(--white);
                    background-color: var(--dark-4);
                }
            }
        }
    }

    &--accent-2 {
        .btn {
            &__prime {
                background-color: var(--white);
                transition: $hover-trans;

                &:hover {
                    color: var(--white);
                    background-color: var(--dark-4);
                }
            }
        }
    }

    &--more {
        .btn {
            &__prime {
                border-radius: 5rem;
                color: var(--white);
                background-color: var(--dark-4);
                transition: $hover-trans;

                @include minw($lg-tab) {
                    font-size: 1.3rem;
                    letter-spacing: 0.2rem;
                    padding: 0.3rem;
                }

                &:hover {
                    color: var(--dark-4);
                    background-color: var(--white);
                }
            }
        }
    }

    span {
        width: 100%;
        // font-family: $sentient-bold;
        font-weight: bold;
        color: var(--dark-4);
        font-size: 1.8rem;
        line-height: 3.2rem;
        padding: 1.2rem;
        text-align: center;
        text-transform: uppercase;
        display: inline-flex;
        justify-content: center;
        transform-origin: 50% 0 0;
        transition: transform .35s cubic-bezier(.76, 0, .24, 1) 0s;
        backface-visibility: hidden;
        border: solid 0.1rem var(--dark-4);
    }
}

// checkbox header
.toggler-wrapper {
    display: block;
    width: 3.1rem;
    height: 1.6rem;
    cursor: pointer;
    position: relative;
}

.toggler-wrapper input[type="checkbox"] {
    display: none;
}

.toggler-wrapper input[type="checkbox"]:checked+.toggler-slider {
    background-color: var(--light-1);
}

.toggler-wrapper .toggler-slider {
    background-color: var(--dark-3);
    position: absolute;
    border-radius: 10rem;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: $hover-trans;
}

.toggler-wrapper .toggler-knob {
    position: absolute;
    transition: $hover-trans;
}

/*Style 1*/

.toggler-wrapper.style-1 input[type="checkbox"]:checked+.toggler-slider .toggler-knob {
    left: calc(100% - 1rem - 0.3rem);
}

.toggler-wrapper.style-1 .toggler-knob {
    width: calc(1.6rem - 0.6rem);
    height: calc(1.6rem - 0.6rem);
    border-radius: 50%;
    left: 0.3rem;
    top: 0.3rem;
    background-color: var(--dark-2);
}