@import '../../core.scss';

.btn {
    background: linear-gradient(130.16deg, #00ACD4 8.75%, #81EAEE 204.24%);
    box-shadow: 0px 11px 17px rgba(43, 45, 55, 0.1), 0px 5px 8px rgba(44, 45, 55, 0.05);

    &:hover {
        background: linear-gradient(282.16deg, #00ACD4 8.75%, #81EAEE 204.24%);
    }

    &--accent-1 {
        border-radius: 5rem;

        .btn__radius {
            font-family: $roboto-regular;
            font-weight: 400;
            font-size: 1.2rem;
            line-height: 1.4rem;
            display: flex;
            text-align: center;
            align-items: center;
            justify-content: center;
            text-align: center;
            height: 2.8rem;
            color: var(--white);
        }
    }

    &--accent-2 {
        .btn {
            &__prime {
                background-color: var(--white);
                transition: $hover-trans;

                &:hover {
                    color: var(--white);
                    background-color: var(--dark-4);
                }
            }
        }
    }
}

.btn-search {
    cursor: pointer;

    svg {
        &:hover {

            path,
            line {
                transition: $hover-trans;
                stroke: var(--blue);
            }
        }
    }
}

// checkbox header
.toggler-wrapper {
    display: block;
    width: 3.1rem;
    height: 1.6rem;
    cursor: pointer;
    position: relative;
}

.toggler-wrapper input[type="checkbox"] {
    display: none;
}

.toggler-wrapper input[type="checkbox"]:checked+.toggler-slider {
    background-color: var(--light-1);
}

.toggler-wrapper .toggler-slider {
    background-color: var(--dark-3);
    position: absolute;
    border-radius: 10rem;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: $hover-trans;
}

.toggler-wrapper .toggler-knob {
    position: absolute;
    transition: $hover-trans;
}

/*Style 1*/

.toggler-wrapper.style-1 input[type="checkbox"]:checked+.toggler-slider .toggler-knob {
    left: calc(100% - 1rem - 0.3rem);
}

.toggler-wrapper.style-1 .toggler-knob {
    width: calc(1.6rem - 0.6rem);
    height: calc(1.6rem - 0.6rem);
    border-radius: 50%;
    left: 0.3rem;
    top: 0.3rem;
    background-color: var(--dark-2);
}