@import '../../core.scss';

.form {
    .screen-reader-response {
        display: none;
    }

    .invalid {
        .wpcf7-response-output {
            display: none;
        }
    }

    &__subtitle {
        font-size: 2.2rem;
        line-height: 4.8rem;
        // font-family: $apercu-pro-bold;
        margin-bottom: 1.8rem;
        color: var(--text-secondary);
        width: 101%;

        @include minw($pc) {
            font-size: 3.8rem;
            line-height: 5.6rem;
        }
    }

    &__item {
        position: relative;

        &:not(:last-child) {
            margin-bottom: 1rem;

            @include minw($pc) {
                margin-bottom: 1.8rem;
            }
        }

        input {
            width: 100%;
            border: none;
            border-bottom: 1px solid var(--white);
            font-size: 1.6rem;
            line-height: 3.2rem;
            padding-bottom: 0.8rem;
            color: var(--white);
            // font-family: $apercu-pro-regular;
            background-color: transparent;

            &::placeholder {
                color: #BCBCBC;
            }

            &:focus {
                border-color: #636363;
            }

            &:focus~.wpcf7-not-valid-tip {
                display: none;
            }
        }

        .wpcf7-not-valid {
            border-bottom: 0.2rem solid var(--red);
            color: var(--red);

            &::placeholder {
                color: var(--red);
            }
        }

        .wpcf7-not-valid-tip {
            position: absolute;
            bottom: 0.6rem;
            right: 0;
            padding: 0.8rem;
            background: var(--red);
            color: var(--white);
            border-radius: 0.4rem;
            // font-family: $apercu-pro-regular;
            font-style: italic;
            line-height: 2rem;
            font-size: 1rem;
        }
    }

    &__submit {
        margin-top: 4rem;

        .btn {
            width: 100%;

            span {
                padding: 1.4rem;
            }
        }
    }

    button {
        padding: 0;
        background: none;
        border: 0;
    }
}